*.class

# Package Files #
*.jar
*.war
*.ear

# Maven Directories #
target

# Gradle Directories #
build

# Eclipse Files and Directories #
*.classpath
*.project
.settings

# IntelliJ IDEA Files and Directories #
*.iml
*.ipr
*.iws
.idea
